{% extends "base.html" %}
{% csrf_token %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% get_static_prefix %}assets/css/fonts.css?v=35945634">
    <link rel="stylesheet" href="{% get_static_prefix %}assets/css/basic.css?v=35945634">
    <link rel="stylesheet" href="{% get_static_prefix %}assets/css/extra.css?v=35945634">
{% endblock %}
{% block content %}
    <div class="Middle Middle_top">
        <div class="Middle-top">
            <div class="wrap">
                <div class="Middle-header">
                    <h1 class="Middle-title">Ошибка
                    </h1>
                    <ul class="breadcrumbs Middle-breadcrumbs">
                        <li class="breadcrumbs-item"><a href="{% url 'index' %}">home</a>
                        </li>
                        <li class="breadcrumbs-item"><a href="{% url 'history-order' %}">История заказов</a>
                        </li>
                        <li class="breadcrumbs-item breadcrumbs-item_current"><span>Заказ №{{ order_item.id }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Section">
            <div class="wrap">
                <div class="Section-content">
                    <div class="errornote" >
                        {{ error_message }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}